alembic
asyncpg
bcrypt
pyjwt
python-dotenv
SQLAlchemy~=2.0.44
pydantic~=2.12.4
pydantic-settings
uvicorn~=0.38.0
fastapi~=0.120.2
authx~=1.4.3
jupyterlab_pygments~=0.3.0
pip~=25.2
attrs~=25.4.0
cryptography~=46.0.3
